body
{
  background-color: #333333;
  height:100vh;
  overflow-y: hidden;
}





#logo
{
  width: auto;
  height: 10vh;
  margin: 0 auto;
  max-height: 100%; /* Ensure the logo doesn't exceed the header height */
}


#githubLogo
{
  width: auto;
  height: 5vh;
  margin: 0 auto;
  max-height: 100%; /* Ensure the logo doesn't exceed the header height */
}


.bodyCont
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width:100%;
  height: 90vh;
}

.muscleCont img
{
  width: 15vw;
  height: auto;
  
}

.chatCont
{
  min-width:25vw;
  align-items:center;
  justify-content: center;
}

.chatCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25vw;
  width: 100%;
}

.displayChat {
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  height: 50vh; /* Adjust height as needed */
  margin-bottom: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.chatBubble
{
  background-color:#40414F;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0;
  margin-top: 16px; /* Adjust margin as needed */
  width: 100%;
  max-width: 640px;
}

.messageInput {
  background-color: #d3d3d3;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 4px 0 0 4px;
  outline: none;
  color: white;
}

.inputBar
{
  background-color: #40414F;
  color:#D1D5DB;
  border-radius: 10px;
}







/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 3px;
  opacity: 0;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 transparent;
}

/* Show scrollbar only on hover */
.scrollbar-thin::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


