
.bodyCont
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width:100%;
  height: 90vh;
}

.muscleCont img
{
  width: 15vw;
  height: auto;
  
}

.chatCont
{
  min-width:25vw;
  align-items:center;
  justify-content: center;
}

.chatCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25vw;
  width: 100%;
}

.displayChat {
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  height: 50vh; /* Adjust height as needed */
  margin-bottom: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.chatBubble
{
  background-color:#40414F;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0;
  margin-top: 16px; /* Adjust margin as needed */
  width: 100%;
  max-width: 640px;
}

.messageInput {
  background-color: #d3d3d3;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 4px 0 0 4px;
  outline: none;
  color: white;
}

.inputBar
{
  background-color: #40414F;
  color:#D1D5DB;
  border-radius: 10px;
}







/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 3px;
  opacity: 0;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 transparent;
}

/* Show scrollbar only on hover */
.scrollbar-thin::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


